/* =====================================
   Global CSS Variables
===================================== */
:root {
  --emaar-accent-1: #0F3D3A;
  --emaar-accent-2: #C8F8A9;
  --emaar-accent-3: #F2F5F1;
  --emaar-accent-4: #F8F7F3;
  --emaar-accent-5: #FFFFFF;
  --emaar-accent-6: #000000;
  --emaar-accent-7: #0000001A;
  --emaar-accent-8: #00000099;
  /*/ bg emaar*/ 
  --sticky-header-bg: #0F3D3ACC;
  --white-80: #FFFFFF80;
  --brand-secondary: #1F6E69;
  --black-75: rgba(0, 0, 0, 0.75);
  --brand-overlay: #0F3D3A66;

  /* Fonts */
  --font-primary: "DM Sans", sans-serif;
  --font-secondary: "Forum", sans-serif;
  --font-playfair-italic: 'Playfair Display', serif;
}

/* =====================================
   Global Styles
===================================== */
@media (min-width: 1400px) {
  .container {
    max-width: 1280px;
  }
}
body {
  font-family: var(--font-primary);
}
/* =====================================
   Headings
===================================== */
h1 {
  font-size: 50px;
  font-weight: 400;
  font-family: var(--font-secondary);
}
h2 {
  font-size: 56px;
  font-weight: 400;
  font-family: var(--font-secondary);
  color: var(--emaar-accent-6);
}
h4 {
  font-size: 24px;
  font-weight: 300;
  font-family: var(--font-primary);
  color: var(--emaar-accent-6);
}
h5 {
  font-size: 20px;
  font-weight: 400;
  font-family: var(--font-primary);
}
/* =====================================
   Paragraph
===================================== */
p {
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  color: var(--black-75);
}
/* =====================================
   Links
===================================== */
a {
  color: var(--emaar-accent-1);
  text-decoration: none;
}
a:hover {
  color: var(--brand-secondary);
}
/* =====================================
   Section
===================================== */
.section{
  padding: 100px 0px;
}
/* =====================================
   Navbar Menu Styles
===================================== */
header.header {
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 20px;
}
.navbar .navbar-brand{
  font-family: var(--font-secondary);
  text-transform: uppercase;
  letter-spacing: 2px;
}
.navbar{
  padding: 10px 0px;
  max-width: 1280px;
  margin: auto;
  border-radius: 8px;
}
.navbar .nav-link {
  color: #000;
  transition: all 0.2s ease-in-out;
  font-family:var(--font-primary);
  font-weight: 500;
  font-size: 14px;
}
.navbar .nav-link:hover,
.navbar .nav-link.active {
  background-color: #f1f1f1;
  color: #0F3D3A;
}
header.header.header-scrolled .navbar{
  background: var(--emaar-accent-6) !important;
}
header.header.header-scrolled .navbar .nav-link{
  color: var(--emaar-accent-5);
}
header.header.header-scrolled .navbar .navbar-brand{
  color: var(--emaar-accent-5);
}
.fill-btn{
  padding:12px 12px;
  column-gap: 40px;
  background: var(--emaar-accent-2);
  color: var(--emaar-accent-1);
  border: none;
  font-weight: 500;
  font-family:var(--font-primary);
  font-size: 14px;
}
.outline-btn{
  padding:12px 12px;
  column-gap: 40px;
  border:1px solid var(--emaar-accent-1);
  color: var(--emaar-accent-1);
  font-weight: 500;
  font-family:var(--font-primary);
  font-size: 14px;
  background: transparent;
}
.content-btn{
  width: fit-content;
}
.fill-btn:hover{
  background:var(--emaar-accent-1);  
}
.outline-btn:hover{
  background:var(--emaar-accent-1);  
}

/* =====================================
    Hero section
===================================== */
.hero-section{
  background: url('../img/hero-banner.png');
  background-size: cover;
  background-position: center center;
  min-height: clamp(300px, 100vh, 830px);
  position: relative;
  display: flex;
  align-items: end;
}
.hero-content{
  position: relative;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}
.hero-text-wrap{
  display: flex;
  flex-direction: column;
  grid-row-gap: 10px;
}
.hero-text-wrap h1{
  color: var(--emaar-accent-3);
  margin: 0;
  font-size: 45px;
}
.hero-text-wrap img{
  margin:0px 0px 25px 0px;
  max-width: 300px;
}
.hero-sub-heading-title{
  font-size: 30px !important;  
}
.hero-text-wrap .btn{
  margin-top: 20px;
}
.hero-payment-plan{
  display: flex;
  min-width: 400px;
 box-shadow:
    0 12px 35px rgba(31, 110, 105, 0.25),
    0 0 25px rgba(200, 248, 169, 0.35);
  animation: glowPulse 4s ease-in-out infinite;
}
@keyframes glowPulse {
  0% {
    box-shadow:
      0 12px 35px rgba(31, 110, 105, 0.25),
      0 0 25px rgba(200, 248, 169, 0.35);
  }
  50% {
    box-shadow:
      0 18px 55px rgba(31, 110, 105, 0.4),
      0 0 45px rgba(200, 248, 169, 0.6);
  }
  100% {
    box-shadow:
      0 12px 35px rgba(31, 110, 105, 0.25),
      0 0 25px rgba(200, 248, 169, 0.35);
  }
}
.hero-plan-block{
  min-height: 215px;
  padding: 20px 20px;
  animation-duration: .75s;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 60%;
}
.hero-plan-block:nth-child(1){
  border-radius: 8px 0px 0px 8px;
  background: linear-gradient(
    135deg,
    rgba(15, 61, 58, 0.9),
    rgba(31, 110, 105, 0.6),
    rgba(255, 255, 255, 0.05)
  );
  backdrop-filter: blur(26px) brightness(1.05);
  -webkit-backdrop-filter: blur(26px) brightness(1.05);  
}
.heroblock-text1 h2{
  font-size: 38px;
  color: var(--emaar-accent-2);
}
.heroblock-text1 div{
  font-size: 15px;
  font-family: var(--font-primary);
  color: var(--emaar-accent-3);
  font-weight: 400;
}
.hero-plan-block:nth-child(2){
  border-radius: 0px 8px 8px 0px;
  background: #000000cf;
  width: 40%;
}
.heroblock-text2 h3{
  font-size: 16px;
  font-weight: 500;
  color: var(--emaar-accent-3);
}
.pprojet-price{
  display: block;
  font-size: 17px;
  font-weight: 500;
  padding: 0px 0px 5px 0px;
  color: var(--emaar-accent-3);
}

/* =====================================
    About
===================================== */
section.about{
  padding: 100px 0px 50px 0px;
}
.sec-sub-heading{
  font-size: 15px;
  font-weight: 500;
  font-family: var(--font-primary);
  border-left: 3px solid var(--emaar-accent-1);
  padding: 0px 15px;
  color: var(--emaar-accent-1);
  display: block;
  margin: 0px 0px 40px 0px;
}
.heading-flex{
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.heading-title{
  flex:0 0 60%;
}
.heading-title h2{
  line-height: 3.5rem;
}
.heading-para p{
  font-size: 15px;
  line-height: 1.5rem;
}
.heading-center{
  text-align: center;
}
.heading-center .sec-sub-heading{
  border-left: none;
}
.heading-center .heading-flex{
  flex-direction: column;
}
.about-detail-section{
  background: var(--emaar-accent-3);
  padding: 150px 0px 50px 0px;
  margin: -84px 0px 0px 0px;
}
.about-d-flx{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 100px;
  margin: 0px 0px 50px 0px;
}
.about-d-content{
  border-left: 1px solid var(--emaar-accent-7);
  padding: 0px 0px 0px 30px;
  position: relative;
}
.about-d-content:before{
  content: '';
  position: absolute;
  left: -1px;
  width: 1px;
  height: 40px;
  background: var(--emaar-accent-1);
}
.about-d-content h5{
  color: var(--emaar-accent-6);
  margin-bottom: 20px;
}
.about-d-content p{
  font-size: 15px;
  line-height: 1.4rem; 
  margin-bottom: 0;
}
.about-sc-img{
  text-align: center;
  padding: 0px 0px;
  position: relative;
}
.about-sc-img img{
  width: 100%;
  border-radius: 0px 0px 0px 0px;
}
.btn-position-bottomleft{
  position: absolute;
  bottom: 20px;
  left: 40px;
}
/* =====================================
    Experience section
===================================== */
.experience-sec-row{
  padding: 50px 0px 0px 0px;
}
.experiencecard{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 25px;
  transition: 0.5s;
}
.experiencecard img{
  width: 100%;
  transition: 0.5s;
}
.expcard-title{
  padding: 30px 0px;
  transition: 0.5s;
}
.experiencecard:hover:hover img{
  box-shadow: 0px 0px 40px var(--emaar-accent-5);
  border-radius: 15px;
}
.experiencecard:hover .expcard-title h4{
  margin-top: -10px;
  transition: 0.5s;
}
.expcard-title h4{
  text-align: center;
  font-size: 17px;
  transition: 0.5s;
  border-bottom: 1px dotted var(--emaar-accent-1);
  display: table;
  margin: 0 auto;
}
.schedule-card{
  padding: 25px 25px;
  background:
  linear-gradient(
    135deg,
    rgba(15, 61, 58, 0.7),
    rgba(15, 61, 58, 0.4),
    rgba(255, 255, 255, 0.1)
  ),
  url("../img/vella.png") center / cover no-repeat;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  min-height: 266px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.schedule-card h2{
  font-size: 40px;
  color: var(--emaar-accent-5); 
}

/* =====================================
    gallery
===================================== */
section.gallery{
  padding: 50px 0px 100px 0px;
}
.hide-desktop{
  display: none;
}
.lux-gallery {
  overflow: hidden;
  width: 100%;
  position: relative;
}
.lux-gallery-track {
  display: flex;
  gap: 16px;
  will-change: transform;
}
.lux-item {
   flex: 0 0 20%;
  transform: scale(0.95);
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}
.lux-item img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  transition: filter 0.3s ease, transform 0.3s ease;
  filter: brightness(0.5);
}
.lux-item.active img,
.lux-item:hover img {
  filter: brightness(1); 
  transform: scale(1.05); 
}
.lux-item:nth-child(3) {
  transform: scale(1);
}
.lux-gallery {
  position: relative;
  cursor: none; 
}
.lux-gallery .custom-cursor {
  width: 40px;
  height: 40px;
  border: 2px solid var(--emaar-accent-2);
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease, background 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lux-gallery .custom-cursor::after {
  content: '';
  width: 8px;
  height: 8px;
  background: var(--emaar-accent-2);
  border-radius: 50%;
}
.mobile-gallery {
  max-width: 100%;
}
.mobile-wrapper {
  width: 100%;
  overflow: hidden;
}
.mobile-main {
  width: 100%;
  display: block;
  transition: opacity .3s ease;
  border-radius: 10px;
}
.mobile-thumbs {
  display: flex;
  gap: 10px;
  margin-top: 12px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 8px;
}
.mobile-thumbs img {
  width: 110px;
  cursor: pointer;
  opacity: .5;
  transition: .3s;
  flex-shrink: 0;
}
.mobile-thumbs img.active {
  opacity: 1;
}


/* =====================================
    Payment Plan
===================================== */
.paymentplan-sc{
  padding:50px 0px 100px 0px; 
}
.paymentplan-content .sec-sub-heading{
  margin:0px 0px 20px 0px;
}
.paymentplan-content .heading-para{
  padding: 20px 0px 0px 0px;
}
.button-group-block{
  padding: 30px 0px 0px 0px;
  display: flex;
  column-gap: 20px;
}
.paymentplan-list {
  display: flex;
  flex-direction: column;
}
.paymentplan-block {
  display: flex;
  align-items: center;
  gap: 28px;
  padding: 24px 28px;
  background: var(--emaar-accent-3);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.paymentplan-block:nth-child(2){
  background: var(--emaar-accent-5);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-top: -8px;
}
.paymentplan-block:nth-child(3){
  margin-top: -8px; 
}
.paymentplan-block h2 {
  min-width: 130px;
  display: flex;
  font-family: var(--font-secondary);
  font-size: 46px;
  font-weight: 400;
  color: var(--emaar-accent-1);
}
.paymentplan-text span {
  display: block;
  font-size: 22px;
  font-weight: 400;
  font-family: var(--font-secondary);
  color: var(--emaar-accent-6);
  margin-bottom: 6px;
}
.paymentplan-text p {
  max-width: 420px;
  font-size: 15px;
  line-height: 22px;
  color: var(--black-75);
}
  


/* =====================================
    Location
===================================== */
.location-sc{
  background: var(--emaar-accent-4);
  padding-bottom: 0;
}
.location-map{
  padding: 50px 0px 0px 0px;
}
.location-map img{
  width: 100%;
}
.location-details{
 background: var(--emaar-accent-1); 
 padding: 0px 0px;
}
.location-row {
  align-items: center;
}
.location-item {
  display: flex;
  padding: 0 0 ;
}
.location-inner {
  padding: 20px 10px;
  position: relative;
  display: flex;
  align-items: flex-start;
  row-gap: 33px;
  min-height: 150px;
  flex-direction: column;
  width: 100%;
  background: var(--emaar-accent-8);
  border-bottom: 6px solid var(--emaar-accent-2);
}
.location-inner strong {
  font-family: var(--font-secondary);
  font-size: 25px;
  font-weight: 500;
  color: var(--emaar-accent-2);
  position: absolute;
  right: 0;
  top: 20px;
  padding: 0 17px;
  border-radius: 32px;
}
.location-inner span {
  font-size: 20px;
  letter-spacing: 1px;
  color: var(--emaar-accent-2);
  opacity: 0.85;
}
.location-inner p {
  font-size: 15px;
  color: #ffffff;
  opacity: 0.9;
  max-width: 220px;
  margin: 0;
}
.location-item:not(:last-child) {
  border-right: 1px dashed rgba(255, 255, 255, 0.25);
}
.location-icon{
  background: var(--emaar-accent-8);
  width: 50px;
  height: 50px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
}

/* =====================================
    contact us
===================================== */
.inquiry-wrapper {
  border-radius: 14px;
  overflow: hidden;
}
.inquiry-image img {
  object-fit: cover;
  object-position: 14%;
}
.inquiry-form {
  background: #ffffff;
}
.form-header {
  background: var(--emaar-accent-1);
  color: #ffffff;
  padding: 20px 24px;
  position: relative;
  border-radius: 5px 5px 0px 0px;
}
.form-header h4 {
  font-size: 15px;
  color: var(--emaar-accent-3);
  line-height: 23px;
  letter-spacing: 1px;
}
.arrow-icon {
  font-size: 34px;
  opacity: 0.8;
  transform: rotate(-44deg);
  position: absolute;
  right: 15px;
}
.form-control {
  border-radius: 0px;
  padding: 12px 20px;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid var(--emaar-accent-7);
  background: var(--emaar-accent-3);
}
.form-control:focus {
  box-shadow: none;
  border-color: var(--emaar-accent-1);
}
.inquiry-btn {
  background: var(--emaar-accent-1);
  color: var(--emaar-accent-3);
  padding: 12px;
  border-radius: 0px;
  font-weight: 500;
  border: none;
}
.inquiry-btn:hover {
  background: #b6f28d;
}
.privacy-text {
  font-size: 12px;
  color: #777;
  text-align: center;
}
.privacy-text a {
  color: var(--emaar-accent-1);
  text-decoration: none;
}
.inquiry-form form label{
  margin: 0px 0px 10px 0px;
  font-family: var(--font-secondary);
  font-size: 15px;
  font-weight: 500;
}

/* =====================================
    Footer
===================================== */
footer{
  background: var(--emaar-accent-4);
  padding: 50px 0px 0px 0px;
}
.disclaimer-block{
  text-align: center;
  padding: 0px 0px 40px 0px;
}
.footer-logo{
  height: 100px;
  margin: 0px 0px 30px 0px; 
}
.disclaimer-block p{
  font-weight: 500;
  color: var(--emaar-accent-1)
}
.footer-link{
  list-style: none;
  margin: 20px 0px 0px 0px;
  padding: 0;
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
.footer-link li:nth-child(1){
  border-right: 1px solid var(--emaar-accent-1);
  padding-right: 10px;
}
.footer-link li a{
  border: 1px solid var(--emaar-accent-1);
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 5px;
}
.copyrighttext{
  text-align: center;
  font-size: 12px;
  padding: 50px 0px 0px 0px;
  display: block;
}
.copyright{
  background: var(--emaar-accent-1);
  padding: 10px 0px;
}

/* =========================
   Responsive Tweaks
========================= */

@media only screen and (max-width: 767px) {
  h1{
    font-size: 36px;
  }
  h2{
    font-size: 32px;
  }
  p{
    font-size: 15px;
  }
  section.section{
    padding: 50px 0px;
  }
  .navbar{
    margin: 0;
    padding: 5px 0px;
    border-radius: 0;
    background: var(--emaar-accent-6) !important;
  }
  .navbar .container{
    justify-content: center;
  }
  header.header{
    top: 0px;
  }
  .navbar a.btn.fill-btn{
    display: none !important;
  }
  button.navbar-toggler:focus{
    outline: none;
    border: none;
    box-shadow: none;
  }
  button.navbar-toggler{
    padding: 0;
    border: none;
    display: none;
  }
  .navbar .navbar-brand{
    color: var(--emaar-accent-5);
    margin: 0 0;
  }
  header.header .navbar .nav-link{
    padding: 10px 0px !important;
    border-bottom: 1px solid var(--emaar-accent-3);
  }
  .hero-section{
    min-height: clamp(300px, 50vh, 830px);
    align-items: flex-start;
    padding: 20px 0px 0px 0px;
    justify-content: center;
    margin-top: 46px;
  }
  .hero-section:before{
    bottom: 0;
    height: 522px;
  }
  .hero-text-wrap img {
      max-width: 200px;
      margin: auto;
  }
  .hero-wrapper .hero-text-wrap .btn{
    display: none !important;
  }
  .hero-content {
      position: relative;
      padding-bottom: 0px;
      flex-direction: column;
  }
  .hero-payment-plan{
    min-width: auto;
    position: relative;
    top: 30px;
  }
  .hero-text-wrap h1{
    font-size: 34px;
  }
  .heroblock-text1 h2 {
    font-size: 28px;
  }
  .heroblock-text1 div{
    font-size: 13px;
  }
  .heroblock-text2 h3{
    font-size: 13px;
  }
  .pprojet-price{
    font-size: 15px;
  }
  /*heading*/
  .sec-sub-heading{
    margin: 0px 0px 20px 0px;
  }
  .heading-flex{
    flex-direction: column;
    align-items: flex-start;
  }
  .heading-title {
    flex: 0 0 100%;
  }
  .heading-title h2 {
      line-height: 2.5rem;
  }
  .hero-sub-heading-title {
      font-size: 23px !important;
  }
  section.about {
      padding: 50px 0px 0px 0px;
  }
  .about-d-flx {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      column-gap: 40px;
      grid-row-gap: 40px;
      margin: 0px 0px 50px 0px;
  }
  .about-d-content h5{
    font-size: 15px;
  }
  .about-sc-img img {
    min-height: 177px;
    object-fit: cover;
  }
  .about-sc-img{
    padding: 0px 20px;
  }
  .btn-position-bottomleft {
    position: absolute;
    bottom: 11px;
    left: 33px;
  }
  .fill-btn{
    padding: 8px 12px;
    font-style: 12px;
  }
  .section.about .sec-sub-heading{
    text-align: center;
    max-width: 100px;
    margin: auto;
    border-right: 3px solid var(--emaar-accent-1);
  }
  .section.about .heading-flex{
    justify-content: center;
    align-items: center;
    padding: 40px 0px 0px 0px;
  }
  .section.about .heading-flex .heading-title h2{
    text-align: center;
    font-family: var(--font-playfair-italic);
  }
  .section.about .heading-flex .heading-para p{
    text-align: center;
    font-style: 14px;
    padding: 30px 20px;
  }
  .about-detail-section {
    padding: 111px 0px 50px 0px;
    margin: -118px 0px 0px 0px;
  }
  /*experience sec*/
  .experience-section{
    background: #e8e6e5;
  }
  .experiencecard{
    min-height: 180px;
  }
  .expcard-title{
    padding: 15px 0px; 
  }
  .expcard-title h4{
    font-size: 12px;
    border: none;
    display: block;
  }
  .schedule-card h2{
    font-size: 28px;
  }
  .experience-section .heading-para{
    display: none;
  }
  .experience-section .heading-flex{
      justify-content: center;
  }
  .experience-section .heading-title{
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .experience-section .sec-sub-heading{
    display: none;
  }
  .experience-section .heading-title h2{
    font-size: 25px;
    font-family: var(--font-playfair-italic);
  }
  .experience-section .heading-title h2 br{
    display: none;
  }
  .experiencecard{
    margin-bottom: 10px;
  }
  /*payment*/
  section.paymentplan-sc{
    padding: 0px 0px 50px 0px;
  }
  .button-group-block{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row-gap: 20px;
    padding: 30px 0px 30px 0px;
  }
  .button-group-block .btn{
    width: 250px;
  }
  .paymentplan-block {
    flex-direction: column;
    align-items: flex-start;
    padding: 13px 20px;
    gap:20px;
  }
  .paymentplan-block h2 {
    width: 100%;
  }
  .paymentplan-block h2::after {
    display: none;
  }
  /*location*/
  .location-item{
    justify-content: flex-start;
  }
  .location-icon{
    width: 40px;
    height: 40px;
  }
  .location-icon svg{
    width: 15px;
    height: 15px;
  }
  .location-inner p{
    line-height: 23px;
    font-size: 12px;
  }
  .location-inner strong {
      font-size: 24px;
  }
  section.location-sc{
    padding-bottom: 0;
  }
  .location-item:not(:last-child) {
      border-right: 0.9px dashed var(--emaar-accent-2);
  }
  .location-map iframe{
    height: 400px;
  }
  /*contact*/
  .heading-center .heading-flex{
    align-items: center;
    justify-content: center;
  }
  .sales-inquiry-section{
    padding-bottom: 0px !important;
  }
  /*gallery*/
  .lux-item img{
    height: 230px;
  }
  .hide-mobile{
    display: none;
  }
  .hide-desktop{
    display: block;
  }
  .mobile-thumbs img {
    width: 80px;
  }
  .mobile-gallery{
    padding: 0px 20px;
  }
  section.gallery#gallery {
    padding: 80px 0px;
  }

}
@media (max-width: 991px) {
  .form-header {
    justify-content: center;
  }
  .arrow-icon {
    display: none;
  }
  .lux-item {
    flex: 0 0 50%;
  }


}


